{% extends 'base-admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}

    {% if action == "new" %}
        <h1>Ajouter un nouvel Utilisateur</h1>
    {% else %}
        <h1>Editer un Utilisateur</h1>
    {% endif %}

    {{ form_start(form) }}
    <div class="row mb-5">
        <div class="col-12 col-lg-7 ml-lg-3 block-mo" style="padding: 5px 15px;">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
                <div class="form-group col-sm-6">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    {{ form_label(form.pseudo) }}
                    {{ form_widget(form.pseudo) }}
                </div>
                <div class="form-group col-sm-6">
                    {{ form_label(form.dateOfBirthday) }}
                    {{ form_widget(form.dateOfBirthday, {'id': 'datepickerBirthday'}) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address) }}
                </div>
                <div class="form-group col-sm-6">
                    {{ form_label(form.zipCode) }}
                    {{ form_widget(form.zipCode) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-9">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
                <div class="form-group col-3">
                    {{ form_label(form.isActive) }}
                    {{ form_widget(form.isActive) }}
                </div>
            </div>
        </div>

        <div class="col-12 offset-lg-1 col-lg-3 block-mo">
            <div class="row">
                <div class="col-6"> {{ form_rest(form) }}</div>
                <div class="col-6"><a class="btn btn-default" href="#">Annuler</a></div>
            </div>

        </div>
        {{ form_end(form) }}
    </div>




{% endblock %}