{% extends 'base-admin.html.twig' %}

{% block body %}

    <h1>Liste des utilisateur</h1>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Utilisateur</div>
        <div class="card-body">
            {% if listUsers is not null %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Pseudo</th>
                            <th>Etat</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in listUsers %}
                            <tr>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.pseudo }}</td>
                                <td>
                                    {% if user.isActive == 0 %}
                                        <div class="btn btn-danger">Inactif</div>
                                    {% elseif user.isActive == 1 %}
                                        <div class="btn btn-success">Actif</div>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a role="button" class="dropdown-item" href="{{ path('admin_user_edit', {'user':user.id}) }}"><i class="fas fa-edit"></i> Editer</a>
                                            {#<a role="button" class="dropdown-item" href="{{ path('admin_remove_ev', {'evenement':evenement.id}) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>#}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Aucun utilisateur à afficher</p>
            {% endif %}
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock %}