{% extends 'base.html.twig' %}

{% block title %}Espoir jeunesse | Mot de passe oublié{% endblock %}
{% block imageHeader %}{% endblock %}

{% block body %}
    <h1 class="mt-3 text-center">Mot de passe oublié</h1>
    <div class="row elements-wrap">
        <div class="col-sm-5 m-0 m-auto">
            <form action="{{ submit_url }}" method="POST">
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
