{% extends 'base.html.twig' %}

{% block title %}espoir jeunesse | profile{% endblock %}
{% block imageHeader %}{% endblock %}
{% block body %}
    <div class="row elements-wrap">
        <div class="col-12 col-sm-10 m-0 m-auto">
            <div class="entry-content elements-container">
                <div class="row">
                    <ul class="col-12 nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Evenement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profil</a>
                        </li>
                    </ul>
                    <div class="col-12 tab-content mt-4" id="myTabContent" style="display:block;">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Inscription au évenements</div>
                                <div class="card-body">
                                    {% if listInscription is not null %}
                                        <div class="table-responsive custom-table">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                <tr>
                                                    <th>Evenement</th>
                                                    <th>Date</th>
                                                    <th>Prix</th>
                                                    <th>Etat inscription</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for inscription in listInscription %}
                                                    <tr>
                                                        <td>{{ inscription.evenementId.title }}</td>
                                                        <td>Du {{ inscription.evenementId.dateStart|date('d/m/Y H:i') }} <br/>Au {{ inscription.evenementId.dateEnd|date('d/m/Y H:i') }}</td>
                                                        <td>{{ inscription.evenementId.price }}</td>
                                                        <td class="text-center">
                                                            {% if inscription.isRegister == 1 %}
                                                                <div class="btn btn-warning">En attente</div>
                                                            {% elseif inscription.isRegister == 2 %}
                                                                <div class="btn btn-success">Inscrit</div>
                                                            {% else %}
                                                                <div class="btn btn-danger">Inscription refusée</div>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Action
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <a role="button" class="dropdown-item" href="{{ path('esj-unsuscribe-user', {'user':app.user.id, 'evenement':inscription.evenementId.id}) }}"><i class="fas fa-edit"></i> Se désinscrire</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <p>Vous n'etes inscrit à aucun évenement</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer small text-muted"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h1 class="mt-3 text-center">Vos informations</h1>
                            <div class="row elements-wrap">
                                <div class="col-sm-7 m-0 m-auto">
                                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                                    <div class="form-row">
                                        <div class="form-group col-12 col-sm-6">
                                            {{ form_row(form.lastname) }}
                                        </div>
                                        <div class="form-group col-12 col-sm-6">
                                            {{ form_row(form.firstname) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            {{ form_row(form.email) }}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-12 col-sm-6">
                                            {{ form_row(form.pseudo) }}
                                        </div>
                                        <div class="form-group col-12 col-sm-6 content-btn">
                                            {{ form_label(form.dateOfBirthday) }}
                                            {{ form_errors(form.dateOfBirthday) }}
                                            {{ form_widget(form.dateOfBirthday, {'id': 'datepickerRegister'}) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            {{ form_row(form.address) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12 col-sm-6">
                                            {{ form_row(form.zipCode) }}
                                        </div>
                                        <div class="form-group col-12 col-sm-6 ">
                                            {{ form_row(form.city) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="oldPassword">Ancien mot de passe</label>
                                            <input type="password" id="oldPassword" name="oldPassword" class="form-control" />
                                            {{ form_label(form.plainPassword.first) }}
                                            {{ form_errors(form.plainPassword.first) }}
                                            {{ form_widget(form.plainPassword.first) }}
                                            {{ form_label(form.plainPassword.second) }}
                                            {{ form_errors(form.plainPassword.second) }}
                                            {{ form_widget(form.plainPassword.second) }}
                                        </div>
                                    </div>
                                    <div class="form-row text-center">
                                        <div class="col-12"> {{ form_rest(form) }}</div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}