{% extends 'base.html.twig' %}

{% block title %} Connexion!{% endblock %}
{% block imageHeader %}{% endblock %}
{% block body %}
    <h1 class="mt-3 text-center">Connexion</h1>
    <div class="row elements-wrap">
        <div class="col-sm-5 m-0 m-auto">
            {% if error %}
                <div class="alert alert-danger">
                    <ul class="list-unstyled mb-0">
                        <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                            <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Identifiant:</label>
                    <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@email.com">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe:</label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
                </div>
                <div class="form-group text-center">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6 text-center"><a href="{{ path('esj_ask_password') }}">Mot de passe oublié ?</a></div>
                <div class="col-sm-6 text-center"><a href="{{ path('register') }}">Inscription </a></div>
            </div>
        </div>
    </div>
{% endblock %}