{% extends 'base-admin.html.twig' %}

{% block title %}Admin - Accueil!{% endblock %}

{% block body %}
    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">{{ count['register'] }} inscription{% if count['register'] > 1 %}s{% endif %} en attente de validation</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ path('admin_suscribe_home') }}">
                    <span class="float-left">Voir les details</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">{{ count['users'] }} utilisateur{% if count['users'] > 1 %}s{% endif %}</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ path('admin_user_home') }}">
                    <span class="float-left">Voir les details</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">{{ count['evenements'] }} évenement{% if count['evenements'] > 1 %}s{% endif %}</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ path('admin_add_ev') }}">
                    <span class="float-left">Ajouter un nouvel évenement</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>
        {#<div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-life-ring"></i>
                    </div>
                    <div class="mr-5">13 New Tickets!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>#}
    </div>
{% endblock %}
