<html>
<head></head>
<body>
<table width="600" style="margin:auto">
    <tr>
        <td>
            <a href="{{ path('esj-home') }}" title="">
                Espoir Jeunesse
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p><font size="4" color="#f32a64">Bonjour,</font></p>
            <p>{{ lastname }} {{ firstname }} vous a contacté via le formulaire, voici ci-dessous son message.</p>
            <p>{{ message }}</p>
            <p>Email: {{ email }}</p>
        </td>
    </tr>
</table>
</body>
</html>
