.gj-datepicker {
    position: relative;
    display: table;
}

.gj-datepicker [role="input"] {
    display: table-cell;
    width: 100%;
}

.gj-datepicker [role="input"]::-ms-clear {
    display: none;
}

.gj-datepicker [role="right-icon"] {
    cursor: pointer;
    display: table-cell;
}

.gj-calendar {
    position: absolute;
    z-index: 4;
}

.gj-calendar table tr[role="month-manager"] th {
    cursor: pointer;
}

.gj-calendar table tr[role="month-manager"] th div[role="month"] {
    width: 100%;
    text-align: center;
}

/* Material Design */
.gj-datepicker-md {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    color: rgba(0,0,0,.87);
}

.gj-datepicker-md [role="right-icon"] {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}

.gj-calendar-md {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    color: rgba(0,0,0,.87);
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.gj-calendar-md table tr[role="month-manager"] th div i.gj-icon,
.gj-calendar-md table tr[role="month-manager"] th div i.material-icons {
    position: absolute;
    top: 8px;
    left: 8px;
}

.gj-calendar-md table tr td div,
.gj-calendar-md table tr th div {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.gj-calendar-md table tr td.gj-cursor-pointer div:hover {
    background: #EEEEEE;
    border-radius: 50%;
}

.gj-calendar-md table tr td.today div {
    color: #1976D2;
}

.gj-calendar-md table tr td.selected div {
    color: #FFFFFF;
    background: #1976D2; /* Blue 700 */
    border-radius: 50%;
}

.gj-calendar-md table tr td.focused div {
    background: #E0E0E0; /* Gray 300 */
    border-radius: 50%;
}

.gj-calendar-md table tr td.other-month div,
.gj-calendar-md table tr td.disabled div {
    color: #BDBDBD; /* Gray 400 */
}

/* Bootstrap */
.gj-datepicker-bootstrap input:focus {
    box-shadow: none;
}

.gj-calendar-bootstrap {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 4px;
    background-color: #FFFFFF;
}

.gj-calendar-bootstrap table tr td div,
.gj-calendar-bootstrap table tr th div {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.gj-calendar-bootstrap table tr th div i,
.gj-calendar-bootstrap table tr th div span {
    line-height: 30px;
}

.gj-calendar-bootstrap table tr[role="month-manager"] th div .gj-icon,
.gj-calendar-bootstrap table tr[role="month-manager"] th div .material-icons {
    margin: 3px;
}

.gj-calendar-bootstrap table tr td.focused div,
.gj-calendar-bootstrap table tr td.gj-cursor-pointer div:hover {
    background: #EEEEEE;
    border-radius: 4px;
    color: #212529;
}

.gj-calendar-bootstrap table tr td.today div {
    color: #204d74;
    font-weight: bold;
}

.gj-calendar-bootstrap table tr td.selected div  {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
    border-radius: 4px;
}

.gj-calendar-bootstrap table tr td.other-month div,
.gj-calendar-bootstrap table tr td.disabled div {
    color: #777;
}

/* Bootstrap 3 */
.gj-datepicker-bootstrap span[role="right-icon"].input-group-addon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0px;
    position: relative;
    width: 38px;
}

.gj-datepicker-bootstrap span[role="right-icon"].input-group-addon .gj-icon,
.gj-datepicker-bootstrap span[role="right-icon"].input-group-addon .material-icons {
    position: absolute;
    top: 7px;
    left: 7px;
}

/* Bootstrap 4 */
.gj-datepicker-bootstrap span[role="right-icon"].input-group-append,
.gj-datepicker-bootstrap span[role="right-icon"].input-group-prepend {
    width: 38px;
}

.gj-datepicker-bootstrap span[role="right-icon"] .input-group-text {
    padding: 7px 8px 8px 30px;
    border-left: 0px;
    display: inline;
}

.gj-datepicker-bootstrap span[role="right-icon"] .input-group-text .gj-icon,
.gj-datepicker-bootstrap span[role="right-icon"] .input-group-text .material-icons {
    position: absolute;
    right: 8px;
    top: 8px;
}

.gj-datepicker-bootstrap span[role="right-icon"] .input-group-text .fa {
    position: absolute;
    right: 11px;
    top: 8px;
    font-size: 21px;
}