{% extends 'base.html.twig' %}

{% block imageHeader %}{% endblock %}
{% block body %}
    <h1 class="mt-3 text-center">Inscription</h1>
    <div class="row elements-wrap">
        <div class="col-sm-7 m-0 m-auto">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="form-group col-12 col-sm-6">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="form-group col-12 col-sm-6">
                    {{ form_row(form.firstname) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-sm-6">
                    {{ form_row(form.pseudo) }}
                </div>
                <div class="form-group col-12 col-sm-6 content-btn">
                    {{ form_label(form.dateOfBirthday) }}
                    {{ form_errors(form.dateOfBirthday) }}
                    {{ form_widget(form.dateOfBirthday, {'id': 'datepickerRegister'}) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    {{ form_row(form.address) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-sm-6">
                    {{ form_row(form.zipCode) }}
                </div>
                <div class="form-group col-12 col-sm-6 ">
                    {{ form_row(form.city) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    {{ form_row(form.plainPassword) }}
                </div>
            </div>
            <div class="form-row text-center">
                <div class="col-12"> {{ form_rest(form) }}</div>
            </div>
            {{ form_end(form) }}
            <div class="row text-center">
                <div class="col-12"><a href="{{ path('login') }}">Connexion</a></div>
            </div>
        </div>
    </div>

{% endblock %}