{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="row elements-wrap">
        <div class="col-12">
            <header class="entry-header elements-heading">
                <h1 class="text-center entry-title">LES 3 DERNIERS ÉVENEMENTS</h1>
                <div class="border-title"></div>
            </header>
            <div class="entry-content elements-container">
                {% if evenements|length > 0 %}
                    <div class="row">
                        {% for evenement in evenements %}
                            <div class="col-12 col-md-3 mt-4 mt-lg-0">
                                <div class=" icon-box" >
                                    <a class="style-a" href="{{ path('esj-show-evenement', { 'slug': evenement.slug }) }}">
                                        <img class="card-img-top picture-ev" src="{{ asset('uploads/evenements/') }}{{ evenement.image }}" alt="{{ evenement.title }}">
                                        <div class="card-body-custom">
                                            <h3 class="entry-title card-title">{{ evenement.title }}</h3>
                                            <div class="entry-content">
                                                <p class=" card-text">{{ evenement.description|striptags|truncate(50)|raw }}</p>
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-flush entry-info">
                                            <li class="list-group-item">{{ evenement.price }} &euro; | {% if evenement.nbPlace ==0 %}Plus de place{% else %}{{ evenement.nbPlace }} place{% if evenement.nbPlace >0 %}s{% endif %}{% endif %}</li>
                                            <li class="list-group-item">Du {{ evenement.dateStart|date('d/m/Y H:i')}} <br/>Au {{ evenement.dateEnd|date('d/m/Y H:i')}}</li>
                                        </ul>
                                    </a>

                                    {% if is_granted("IS_AUTHENTICATED_FULLY") and evenement.nbPlace > 0 %}
                                        <div class="card-body">
                                            {% set exist ='non' %}
                                            {% for e in evenement.evenementUsers  %}
                                                {% if e.userId.id == app.user.id %}
                                                    {% set exist ='oui' %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if exist != 'oui' %}
                                                <a href="{{ path('esj_register_ev', {'user':app.user.id, 'evenement':evenement.id}) }}" role="button" class="btn btn-register">S'inscrire <i class="fas fa-plus"></i></a>
                                            {% else %}
                                                <button class="btn btn-register">Inscrit <i class="fas fa-check"></i></button>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                </div>
                                {#<div class="icon-box">
                                    <figure class="d-flex justify-content-center">
                                        <a href="#"><img class="picture-ev" src="{{ asset('uploads/evenements/') }}{{ evenement.image }}" /></a>
                                    </figure>

                                    <header class="entry-header">
                                        <h3 class="entry-title">{{ evenement.title }}</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>{{ evenement.description|striptags|truncate(150)|raw }}</p>
                                    </div>
                                    <div class="row entry-footer info-ev">
                                        <div class="col-5">
                                            {{ evenement.nbPlace }} place{% if evenement.nbPlace >0 %}s{% endif %}
                                        </div>
                                        <div class="col-7">
                                            <p>Du {{ evenement.dateStart|date('d/m/Y H:i')}} au {{ evenement.dateEnd|date('d/m/Y H:i')}}</p>
                                        </div>
                                    </div>
                                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                        {% set exist ='non' %}
                                        {% for e in evenement.evenementUsers  %}
                                            {% if e.userId.id == app.user.id %}
                                                {% set exist ='oui' %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="row">
                                            <div class="col-12">
                                                {% if exist != 'oui' %}
                                                    <a href="{{ path('esj_register_ev', {'user':app.user.id, 'evenement':evenement.id}) }}" role="button" class="btn btn-register">S'inscrire <i class="fas fa-plus"></i></a>
                                                {% else %}
                                                    <button class="btn btn-register">Inscrit <i class="fas fa-check"></i></button>
                                                {% endif %}
                                            </div>
                                        </div>

                                    {% endif %}
                                </div>#}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="block-al-ev text-right">
                        <a href="{{ path('esj-all-ev') }}" class="btn btn-outline-show" role="button">tous les évenements <i class="fas fa-angle-right"></i></a>
                    </div>
                {% else %}
                        <p class="text-center">Aucun évènement à afficher</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
