
<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Espoir jeuness - Login</title>
    <link href="{{ assets_versionning_admin('app-admin.css') }}" rel="stylesheet">

</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form action="{{ path('login_admin') }}" method="post">
                <div class="form-group">
                    <label for="username">Identifiant:</label>
                    <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@email.com">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe:</label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
                </div>
                <div class="form-group text-center">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
        {% if error %}
            <div class="alert alert-danger">
                <ul class="list-unstyled mb-0">
                    <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                        <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>
<script src="{{ assets_versionning_admin('public/assets_admin/js/app-admin.js') }}"></script>
</body>

</html>