<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" sizes="32x32">
    <title>{% block title %}Accueil - espoir jeunesse{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Custom styles for this template -->
    <link href="{{ assets_versionning('app.css') }}" rel="stylesheet">
</head>
<body id="page-top">
{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
{% set currentRoute = app.request.attributes.get('_route') %}
<div id="content">
    <div class="alert-box-all" id="messageBox">
        {% block flash_messages %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
    </div>
</div>
    <header class="site-header">
        {#<div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            MAIL: <a href="#">contact@ourcharity.com</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <p>PHONE: <span>+24 3772 120 091 / +56452 4567</span></p>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="#">Donate Now</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->#}

        <div class="nav-bar">
            <div class="container">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="" rel="home">ESPOIR JEUNESSE</a>
                        </div>

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li{% if currentRoute == 'esj-home' %} class="current-menu-item"{% endif %}><a href="{{ path('esj-home') }}">Accueil</a></li>
                                <li{% if currentRoute == 'esj-all-ev' %} class="current-menu-item"{% endif %}><a href="{{ path('esj-all-ev') }}">Évenement</a></li>
                                <li{% if currentRoute == 'esj-who-us' %} class="current-menu-item"{% endif %}><a href="{{ path('esj-who-us') }}">Qui somme nous?</a></li>
                                <li{% if currentRoute == 'esj-contact' %} class="current-menu-item"{% endif %}><a class="scroll-to-contact" href="#footer">Contact</a></li>
                                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                    <li{% if currentRoute == 'esj-profil-user' %} class="current-menu-item"{% endif %}><a href="{{ path('esj-profil-user', {'user':app.user.slug}) }}">Profil</a></li>
                                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                                {% else %}
                                    <li {% if currentRoute == 'login' or currentRoute == 'register' %} class="current-menu-item"{% endif %}><a href="{{ path('login') }}" role="button" ><i class="fas fa-user-circle"></i>&nbsp;s'inscrire / se connecter</a></li>
                                {% endif %}
                            </ul>
                        </nav>

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
            </div>
        </div>
    </header>
    {% block imageHeader %}
        <div class="content block-image col-md-10 m-o m-auto">
            <img class="image-home" src="{{ asset('images/jeunesse.jpg') }}"/>
        </div>
    {% endblock %}
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
    <footer id="footer" class="site-footer">
        <div class="footer-widgets elements-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="foot-about">
                            <h2>Espoir jeunesse</h2>
                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>
                        </div>
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fas fa-phone colorPrimary"></i><a href="tel:0134771852">&nbsp; 0134771852</a></li>
                                <li><i class="fas fa-envelope colorPrimary"></i>&nbsp; contact@espoirjeunesse.fr</li>
                                <li><i class="fas fa-map-marker colorPrimary"></i>&nbsp; 3 rue des hautes meunières 78520 Limay</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mt-5 mt-md-0">
                        <h2>Formulaire de contact</h2>
                        <form method="post" action="{{ path('send-mail-contact') }}">
                            <div class="form-row">
                                <div class="form-group col-12 col-sm-6">
                                    <label for="contact_lastname">Nom: <span class="rouge">*</span></label>
                                    <input type="text" class="form-control" id="contact_lastname" name="contact[lastname]" placeholder="Nom" required="required">
                                </div>
                                <div class="form-group col-12 col-sm-6">
                                    <label for="contact_firstname">Prénom: <span class="rouge">*</span></label>
                                    <input type="text" class="form-control" id="contact_firstname" name="contact[firstname]" placeholder="Prenom" required="required">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="contact_email">Email: <span class="rouge">*</span></label>
                                    <input type="email" class="form-control" id="contact_email" name="contact[email]" placeholder="exemple@email.com" required="required">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="contact_message">Message: <span class="rouge">*</span></label>
                                    <textarea class="form-control" id="contact_message" name="contact[message]" required="required"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <input type="submit" class="btn btn-success" id="contact_submit" name="contact[submit]" value="Envoyer">
                                </div>
                            </div>

                        </form>
                        {% block contact %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Appsforyou7</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    {% block modal %}{% endblock %}

    {% block javascripts %}
        <!-- Custom scripts for this template -->
        <script src="{{ assets_versionning('public/assets/js/app.js') }}"></script>
    {% endblock %}
</body>
</html>