<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Admin - espoir jeunesse{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <!-- Custom styles for this template -->
    <link href="{{ assets_versionning_admin('app-admin.css') }}" rel="stylesheet">
</head>
<body id="page-top">
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="title-project">Espoir jeunesse</li>
                    <li>
                        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                            <i class="fas fa-bars"></i>
                        </button>
                    </li>
                </ul>
                <ul class=" nav navbar-nav navbar-right ml-auto ml-md-0">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link" href="{{ path('logout_admin') }}">
                            Déconnexion <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>

            {#<!-- Navbar Search -->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>#}

            <!-- Navbar -->
        </nav>
    </header>
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_home') }}">
                    <i class="fas fa-home"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('admin_suscribe_home') }}">
                    <i class="fas fa-fw fa-registered"></i>
                    <span>Inscrit</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_ev_home') }}">
                    <i class="fas fa-fw fa-list-alt"></i>
                    <span>Évenements</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_user_home') }}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Utilisateur</span></a>
            </li>
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Accueil</a>
                    </li>
                </ol>
                {% block body %}

                {% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>
{% block javascripts %}
    <!-- Custom scripts for this template -->
    <script src="{{ assets_versionning_admin('public/assets_admin/js/app-admin.js') }}"></script>
   {% block messages %}
        {% set list_custom_errors =  app.session.flashbag.get('danger') %}
        {% set list_custom_success =  app.session.flashbag.get('success') %}
        <script>
            {% for flashMessage in list_custom_errors %}
            $(function(){
                new PNotify({
                    text: "{{ flashMessage|trans }}",
                    styling: "fontawesome",
                    type: "error"
                });
            });
            {% endfor %}
        </script>
        <script>
            {% for flashMessage in list_custom_success %}
            $(function(){
                new PNotify({
                    text: "{{ flashMessage|trans }}",
                    styling: "fontawesome",
                    type: "success",
                });
            });
            {% endfor %}
        </script>
    {% endblock %}
{% endblock %}
</body>
</html>

