{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="row elements-wrap">
        <div class="col-12">
            <header class="entry-header elements-heading">
                <h1 class="text-center entry-title">TOUS LES ÉVENEMENTS</h1><div class="border-title"></div>
            </header>
            {% if evenements|length > 0 %}
                <div class="entry-content elements-container">
                    <div class="row">
                        {% for evenement in evenements %}
                            <div class="col-12 col-md-4 col-lg-3 mt-4">
                                <div class=" icon-box" >
                                    <a class="style-a" href="{{ path('esj-show-evenement', { 'slug': evenement.slug }) }}">
                                        <img class="card-img-top picture-ev" src="{{ asset('uploads/evenements/') }}{{ evenement.image }}" alt="{{ evenement.title }}">
                                        <div class="card-body-custom">
                                            <h3 class="entry-title card-title">{{ evenement.title }}</h3>
                                            <div class="entry-content"><p class=" card-text">{{ evenement.description|striptags|truncate(50)|raw }}</p></div>
                                        </div>
                                        <ul class="list-group list-group-flush entry-info">
                                            <li class="list-group-item">{{ evenement.price }} &euro; | {% if evenement.nbPlace ==0 %}Plus de place{% else %}{{ evenement.nbPlace }} place{% if evenement.nbPlace >0 %}s{% endif %}{% endif %}</li>
                                            <li class="list-group-item">Du {{ evenement.dateStart|date('d/m/Y H:i')}} <br/>Au {{ evenement.dateEnd|date('d/m/Y H:i')}}</li>
                                        </ul>
                                    </a>
                                    {% if is_granted("IS_AUTHENTICATED_FULLY") and evenement.nbPlace > 0 %}
                                        <div class="card-body pb-0">
                                            {% set exist ='non' %}
                                            {% for e in evenement.evenementUsers  %}
                                                {% if e.userId.id == app.user.id %}{% set exist ='oui' %}{% endif %}
                                            {% endfor %}
                                            {% if exist != 'oui' %}
                                                <a href="{{ path('esj_register_ev', {'user':app.user.id, 'evenement':evenement.id}) }}" role="button" class="btn btn-register">S'inscrire <i class="fas fa-plus"></i></a>
                                            {% else %}
                                                <button class="btn btn-register">Inscrit <i class="fas fa-check"></i></button>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="">{{ knp_pagination_render(evenements) }}</div>
            {% else %}
                <div class="entry-content elements-container">
                    <p class="text-center">Aucun évènement à afficher</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
