{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="row elements-wrap">
        <div class="col-12">
            <header class="entry-header elements-heading">
                <h1 class="text-center entry-title">{{ evenement.title|upper }}</h1>
                <div class="border-title"></div>
            </header>
            <div class="entry-content elements-container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="clear"></div>
                        <div class="block-img row justify-content-center">
                            <figure>
                                <img class="img-fluid" src="{{ asset('uploads/evenements/') }}{{ evenement.image }}"/>
                            </figure>
                        </div>
                        <section>
                            <div class="text-center text-md-left mb-3">
                                {{ evenement.description|striptags|raw }}
                            </div>
                        </section>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="block-info row">
                            <div class="clear"></div>
                            <aside>
                                <h2 class="text-center">INFORMATIONS</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Du {{ evenement.dateStart|date('d/m/Y') }} à {{ evenement.dateStart|date('H:i') }} Au {{ evenement.dateEnd|date('d/m/Y') }} à {{ evenement.dateEnd|date('H:i') }}</li>
                                    <li class="list-group-item">Nombre de place : {{ evenement.nbPlace }}</li>
                                    <li class="list-group-item">Prix : {{ evenement.price }} &euro;</li>
                                    <li class="list-group-item text-center text-md-left">
                                        {% if is_granted("IS_AUTHENTICATED_FULLY") and evenement.nbPlace > 0 %}
                                            {% set exist ='non' %}
                                            {% for e in evenement.evenementUsers  %}
                                                {% if e.userId.id == app.user.id %}
                                                    {% set exist ='oui' %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if exist != 'oui' %}
                                                <a href="{{ path('esj_register_ev', {'user':app.user.id, 'evenement':evenement.id}) }}" role="button" class="btn btn-register">S'inscrire <i class="fas fa-plus"></i></a>
                                            {% else %}
                                                <button class="btn btn-register">Inscrit <i class="fas fa-check"></i></button>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </aside>
                        </div>

                    </div>
                </div>
            </div>
    </div>
{% endblock %}