{% extends 'base-admin.html.twig' %}

{% block body %}

    <h1>Liste des évenements</h1>
    <a role="button" class="btn btn-primary col-sm-3 col-md-2 mb-3" href="{{ path('admin_add_ev') }}"><i class="fas fa-plus-circle"></i> Nouveau</a>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Évenement
        </div>
        <div class="card-body">
            {% if listEvenements is not null %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Place</th>
                            <th>Prix</th>
                            <th>Etat</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for evenement in listEvenements %}
                            <tr>
                                <td>{{ evenement.title }}</td>
                                <td>{{ evenement.dateStart|date("d/m/Y H:i") }}</td>
                                <td>{{ evenement.dateEnd|date("d/m/Y H:i") }}</td>
                                <td>{{ evenement.nbPlace }}</td>
                                <td>{{ evenement.price }}</td>
                                <td><div class="btn {% if evenement.statusEvenementId.id == 1 %} btn-warning{% elseif evenement.statusEvenementId.id == 2 %} btn-success{% else %} btn-danger{% endif %}">{{ evenement.statusEvenementId.status }}</div></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a role="button" class="dropdown-item" href="{{ path('admin_edit_ev', {'evenement':evenement.id}) }}"><i class="fas fa-edit"></i> Editer</a>
                                            <a role="button" class="dropdown-item" href="{{ path('admin_remove_ev', {'evenement':evenement.id}) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Aucun evenements à afficher</p>
            {% endif %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}