{% extends 'base-admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}

    <h1>Ajouter un évenement</h1>
    {{ form_start(form) }}
    <div class="row mb-5">
        <div class="col-sm-7 ml-sm-3 block-mo">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-group offset-sm-1 col-sm-4">
                    {{ form_label(form.imageUpload) }}
                    {{ form_widget(form.imageUpload) }}
                    {{ form_widget(form.image) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    {{ form_label(form.dateStart) }}
                    {{ form_widget(form.dateStart, {'id': 'datepicker'}) }}
                </div>
                <div class="form-group col-sm-6">
                    {{ form_label(form.dateEnd) }}
                    {{ form_widget(form.dateEnd, {'id': 'datepicker2'}) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    {{ form_label(form.nbPlace) }}
                    {{ form_widget(form.nbPlace) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.statusEvenementId) }}
                    {{ form_widget(form.statusEvenementId) }}
                </div>
            </div>
        </div>

        <div class="offset-sm-1 col-sm-3 block-mo">
            <div class="row">
                <div class="col-6"> {{ form_rest(form) }}</div>
                <div class="col-6"><a class="btn btn-default" href="{{ path('admin_ev_home') }}">Annuler</a></div>
            </div>

        </div>
{{ form_end(form) }}
    </div>
{% endblock %}