<html>
<head></head>
<body>
<p>Vous avez fait une demande de mot de passe sur le site d'Espoir Jeunesse</p>
<br/>
<br/>
<p>Si vous etes bien l'auteur de cette demande, vous pourrez saisir un nouveau mot de passe en cliquant sur ce lien ou en le copiant dans votre navigateur:</p>
<br/>
<a href="{{  absolute_url(path('esj_reset_password', {'token': user.passwordToken})) }}">{{  absolute_url(path('esj_reset_password', {'token': user.passwordToken})) }}</a>
<br/>
<p>L'équipe d'Espoir Jeunesse se tient à votre disposition pour toutes informations complémentaires.</p>
<br/>
<br/>
<p>A bientôt sur Espoir Jeunesse.</p>
<p>L’équipe Espoir Jeunesse</p>
</body>
</html>