<html>
    <head></head>
    <body>
    <p>Bienvenue sur le site d'Espoir Jeunesse</p>
    <br/>
    <br/>
    <p>Merci pour votre inscription sur Espoir Jeunesse.</p>
    <p>Veuillez confirmer votre courriel en suivant le lien suivant :</p>
    <p>Après confirmation de votre courriel vous pourrez vous identifier en cliquant sur ce lien ou en le copiant dans votre navigateur avec votre courriel et le mot de passe choisi lors de votre inscription :</p>
    <br/>
    <a href="{{ absolute_url(path('esj_user_confirmation_link', {'token': user.registrationToken})) }}">{{ absolute_url(path('esj_user_confirmation_link', {'token': user.registrationToken})) }}</a>
    <br/>
    <p>L'équipe d'Espoir Jeunesse se tient à votre disposition pour toutes informations complémentaires.</p>
    <br/>
    <br/>
    <p>A bientôt sur Espoir Jeunesse.</p>
    <p>L’équipe Espoir Jeunesse</p>
    </body>
</html>