{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base_errors.html.twig' %}
{% block imageHeader %}{% endblock %}
{% block body %}
    <div class="row elements-wrap">
        <div class="block-errors col-sm-7 m-0 m-auto text-center">
            <h1 class="h1-errors">Oups !</h1>
            <p class="text-errors">Cette page est introuvable !</p>
        </div>
    </div>

{% endblock %}