{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base_errors.html.twig' %}
{% block imageHeader %}{% endblock %}
{% block body %}
    <div class="row elements-wrap">
        <div class="block-errors col-10 col-sm-5 col-lg-3 m-0 m-auto text-center">
            <div>
                <h1 class="h1-errors">Oups !</h1>
                <p class="text-errors">La page que vous cherchez n'éxiste pas !</p>
                <p class="status-errors">500</p>
            </div>

        </div>
    </div>
{% endblock %}