{% extends 'base-admin.html.twig' %}

{% block body %}

    <h1>Liste des inscrits aux evenements</h1>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Inscription Evenement
        </div>
        <div class="card-body">
            {% if listSuscribes is not null %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Évenement</th>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Prix</th>
                            <th>Etat</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for suscribe in listSuscribes %}
                            <tr>
                                <td>{{ suscribe.userId.lastname }} {{ suscribe.userId.firstname }}</td>
                                <td>{{ suscribe.EvenementId.title }}</td>
                                <td>{{ suscribe.EvenementId.dateStart|date("d/m/Y H:i") }}</td>
                                <td>{{ suscribe.EvenementId.dateEnd|date("d/m/Y H:i") }}</td>
                                <td>{{ suscribe.EvenementId.price }}</td>
                                <td><div class="btn {% if suscribe.isRegister == 0 %} btn-danger{% elseif suscribe.isRegister == 1 %} btn-warning{% elseif suscribe.isRegister == 2 %} btn-success{% endif %}">{% if suscribe.isRegister == 0 %}Refusé{% elseif suscribe.isRegister == 1 %}En attente de paiement {% elseif suscribe.isRegister == 2 %}Validé{% endif %}</div></td>
                                <td>
                                    <form method="post" action="{{ path('admin_edit_suscribe', {'evenement':suscribe.evenementId.id, 'user': suscribe.userId.id}) }}">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                {% if suscribe.isRegister != 1 %}<input type="submit" name="choice" value="En attente" class="dropdown-item gj-cursor-pointer"/>{% endif %}
                                                {% if suscribe.isRegister != 2 %}<input type="submit" name="choice" value="Valider" class="dropdown-item gj-cursor-pointer"/>{% endif %}
                                                {% if suscribe.isRegister != 0 %}<input type="submit" name="choice" value="Refuser" class="dropdown-item gj-cursor-pointer"/>{% endif %}
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Aucun evenements à afficher</p>
            {% endif %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}